

<div class="modal-dialog" role="document" style="width: 918px;">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add New Role</h4>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body">

<table class="table table-hover users-table" id="all_request_table">
  <thead>
  <tr>
    <th class="check"><input id="checkBox" type="checkbox" class="toggleAll"></th>
    <th class="logo_sorting">Role</th>
    <th class="company__name">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @roles.each do |role|%>
      <tr>
        <td>
          <input class="checkbox" type="checkbox">
        </td>
        <td class="role">
          <%= role.role_name%>
          <%= hidden_field_tag :role_id, role.id,class: "role_id"%>
        </td>
        <td class="status"><%= role.role_status%></td>
      </tr>
  <%end%>
  </tbody>
</table>

          <div class="clearfix"></div>
          <div class="modal-footer">
            <%= submit_tag "Active",value: "Active" ,class: "btn btn-success active_roles btn_active_request "%>
            <%= submit_tag "Inactive",value: "Inactive" ,class: "btn btn-primary btn_inactive_request"%>
          </div>

        </div>
  </div>
  </div>

<script>
        (function($){
            $('.btn_active_request, .btn_inactive_request').on('click', function(e) {
                e.preventDefault();
                var action_type = $('.btn_active_request').val();
                var request = [];
                if ($(this).hasClass('active_roles')){
                    var act_typ = "Active"
                } else {
                    var act_typ = "Inactive"
                }

                $("#all_request_table td:first-child input.checkbox:checked").each(function() {
                    var $row = $(this).parents("tr").first();
                    request.push( $row.find(".role_id").val() )
                });

                $.ajax({
                    type: "POST",
                    url: "/manage_roles",
                    data: {role: request,act_typ: act_typ},
                    success: function() {
                    }
                });
                console.log('Request IDs', request);
            });

        $(".toggleAll").on("change", function() {
            var isChecked = $(this).prop("checked");

            var $table = $(this).parents("table");
            $table.find('tbody .checkbox').prop('checked', isChecked);
        })

    })(jQuery)
</script>